name: namer_app
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  google_fonts: ^6.2.1
  table_calendar: ^3.1.2
  sqflite: ^2.3.0
  path: ^1.9.0
  sliding_up_panel: ^2.0.0+1
  flutter_form_builder: ^10.2.0
  form_builder_validators: ^11.2.0
  intl: ^0.20.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true